In [38]:
import sqlite3

import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pylab

import itertools

# DATASETS (Properly creating/displaying networks)

In [46]:
def save_graph(graph,file_name):
   #initialze Figure
   plt.figure(num=None, figsize=(50, 50), dpi=100)
   plt.axis('off')
   fig = plt.figure(1)
   pos = nx.spring_layout(graph)
   nx.draw_networkx_nodes(graph,pos)
   nx.draw_networkx_edges(graph,pos, alpha=0.5)
   nx.draw_networkx_labels(graph,pos)

   plt.savefig(file_name,bbox_inches="tight")
   pylab.close()
   del fig

## NIPS

In [60]:
#https://www.kaggle.com/code/kevinvdsk/community-detection

connect = sqlite3.connect('../data/NIPS/database.sqlite')
query = """
SELECT pa.paper_id, pa.author_id, a.name AS author_name
FROM paper_authors AS pa JOIN papers AS p ON pa.paper_id = p.id
JOIN authors as a ON pa.author_id = a.id
WHERE p.Year BETWEEN '2015' AND '2018'
ORDER BY paper_id
"""
df_nips = pd.read_sql(query, connect)

# Have a look at data
df_nips.head(10)

   paper_id  author_id         author_name
0      5633       7865          Leon Gatys
1      5633       7866  Alexander S. Ecker
2      5633       2385     Matthias Bethge
3      5634       7867          Ming Liang
4      5634       7868          Xiaolin Hu
5      5634       3841            Bo Zhang
6      5635       5571       Oriol Vinyals
7      5635       7869       ?ukasz Kaiser
8      5635       7870           Terry Koo
9      5635       3753         Slav Petrov

In [61]:
G_NIPS = nx.Graph()

for p, a in df_nips.groupby('paper_id')['author_name']: 
    # TESTING print(a) 
    for a1, a2 in itertools.combinations(a, 2):
        if G_NIPS.has_edge(a1, a2):
            G_NIPS[a1][a2]['weight'] += 1
        else:
            G_NIPS.add_edge(a1, a2, weight=1)
    # TESTING   print(u, ",", v)
    # TESTING print('\n')

In [62]:
save_graph(G_NIPS, "../data/NIPS/graph1.pdf")

/opt/anaconda3/lib/python3.8/site-packages/matplotlib/backends/_backend_pdf_ps.py:102: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0.0, flags=ft2font.LOAD_NO_HINTING)
/opt/anaconda3/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:238: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/opt/anaconda3/lib/python3.8/site-packages/matplotlib/backends/backend_agg.py:201: RuntimeWarning: Glyph 127 missing from current font.
  font.set_text(s, 0, flags=flags)

## SNAP Emails

In [59]:
df_snap = pd.read_csv("../data/SNAP_Emails/email-Eu-core.txt", sep=" ", names=["from", "to"])
df_snap

       from   to
0         0    1
1         2    3
2         2    4
3         5    6
4         5    7
...     ...  ...
25566   420  143
25567   174  859
25568   440  460
25569    52  786
25570   506  932

[25571 rows x 2 columns]

## Random Graph Generator

# COMMUNITY METHODS

# Degree Counting

### Degree Counting in NIPS

In [33]:
# Distribution graph + stats

# Node Counting

## Pipeline w/ SK

# CLUSTING METHODS

# COMMUNITY + CLUSTER